/*General*/
html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
/*Features*/
.features{
text-align: center;
padding: 170px 0px;
}
.title {
    color: rgb(61, 79, 159);
    font-weight: 500;
}
.title h2{
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.title p{
    font-size: 24px;
    margin: 0 0 94px;
}
.cards {
   display: flex;
   gap: 67px;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 142px;
}
.item {
    width: 140px;
}
.item img{
    margin-bottom: 30px;
}
.item h3{
    color: rgb(64, 116, 248);
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 34px;
}
.item p{
    color: rgb(173, 179, 203);
    font-size: 11px;
    font-weight: 500;
    margin: 0;
}
.buttons {
    display: flex;
    gap: 110px;
    justify-content: center;
    flex-wrap: wrap;
}
.buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 44px;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
.buttons-readmore {
    background: rgb(255, 215, 215);
    color: rgb(212, 63, 63);
}
.buttons-getstarted {
    background: rgb(210, 225, 255);
    color: rgb(58, 121, 255);
}

/*Status*/
.status {
    background: linear-gradient(90deg, rgb(94, 128, 255) 50%, rgb(224, 233, 255) 0%);
}

.status p {
    margin: 0;
}
.status img{
    margin-bottom: 24px;
}
.stat-inner {
    display: flex;
    padding: 70px;
}
.stat-left {
    padding-right: 90px;
    text-align: right;
    width: 50%;
    color: rgb(255, 255, 255);
}
.stat-right {
    padding-left: 90px;
    width: 50%;
    color: rgb(94, 128, 255);
}

.stat-inner p:nth-child(2){
    font-size: 48px;
    margin-bottom: 20px;
}
.stat-inner p:nth-child(3){
    font-size: 18px;
    font-weight: 500;
    max-width: 260px;
    letter-spacing: 0.6px;
}

.stat-left p:nth-child(3){
    margin: 0 0 0 auto;
}

/*Blog*/


@media screen and (max-width:700px){
    .status {
    background: linear-gradient(180deg, rgb(94, 128, 255) 50%, rgb(224, 233, 255) 0%);
    }
    .stat-inner{
        flex-direction: column;
        padding: 50px;
    }
    .stat-left{
        text-align: center;
        margin: 0 auto;
        padding-right: 0;
        padding-bottom: 50px;
        width: 100%;
    }
    .stat-right{
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
        padding-top: 50px;
        width: 100%;
    }
    .stat-left p:nth-child(3), .stat-right p:nth-child(3){
        margin: 0 auto;
    }
}


